*{
    margin: 0;
    padding: 0; /* сброс отступов*/
   
}


html{
    box-sizing: border-box; /*исправление отступов padding. Отступы будут без изменения размера блока*/
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

/* header styles start*/
.wraper{
    max-width: 1060px;
    margin: 0 auto;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header_wraper{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
    padding-top: 56px;
}
.header_list{
    display: flex;
    flex-wrap: wrap;
}
.header_item{
    margin-right: 82px;
    list-style-type: none;
}
.header_item:last-child{
    margin-right: 0px;
}
.header_link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.header_link.header_link:hover, .header_link.header_link:focus, header_link.header_link:active {
    opacity: .75;
}
/* header styles end*/

/* header styles start*/

.intro{
    min-height: 100vh;
    background: url(/img/intro-bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
}

.intro_title{
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: white;
    max-width: 600px;
    margin-bottom: 22px;
}
.intro_subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    max-width: 546px;
    margin-bottom: 59px;
}
.search-form_intro{
    display: flex;
    flex-wrap: wrap;
}
.search-form_wrap{
    border: 0;
}
.search-form_fild{
    width: 297px;
    background:transparent url(../img/svg/circle_icon.svg) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.search-form_fild::placeholder{
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.search-form_submit{
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color: white;
    background: #1B7DFF;
    border: 0;
}
.search-form_submit:hover, .search-form_submit:focus, .search-form_submit:active{
    background: #0f71f1;
}
/* header styles end*/