*{
    margin: 0;
    padding: 0; /* сброс отступов*/
}
html{
    box-sizing: border-box; /*исправление отступов padding. Отступы будут без изменения размера блока*/
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

/* header styles start*/
.wraper{
    max-width: 1060px;
    margin: 0 auto;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header_wraper{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
    padding-top: 56px;
}
.header_list{
    display: flex;
    flex-wrap: wrap;
}
.header_item{
    margin-right: 82px;
    list-style-type: none;
}
.header_item:last-child{
    margin-right: 0px;
}
.header_link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.header_link.header_link:hover, .header_link.header_link:focus, header_link.header_link:active {
    opacity: .75;
}
/* header styles end*/

/* header styles start*/

.intro{
    height: 100vh;
    background: url(/img/intro-bg.jpg) no-repeat center;
    background-size: cover;
}

/* header styles end*/